body, html{
    padding: 0;
    margin: 0;
}

.holder{
    width:100%;
    display:block;
    overflow:hidden;
}

.inner{
    width: 1000px;
    display:block;
    overflow:hidden;
    margin: 0 auto;
}

.top{
    background: darkred;
    text-align: right;
}

.top a, header a{
    color: white;
    text-decoration: none;
}

.top a:hover, header a:hover{
    text-decoration: underline;
}

.header_image{
    background: black;
    height: 250px;
}

header{
    background: #8b0000;
}
header ul {
    list-style: none;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    padding: 10px 20px;
    border-right: 1px solid white;
}
header ul li ul li a {
    border-right: 0;
}
header ul li ul {
    width: 300px;
    display: none;
    background: #8b0000;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li:last-child a {
    border-right: 0;
}

section article{
    color: #696969;
    padding: 20px;
}

footer{
    background: #2f4f4f;
    color: white;
    padding: 20px 0px;
}

.footer_section{
    width: 33%;
    float: left;
}

.product {
    width: 32%;
    float: left;
    border: 1px solid #2f4f4f;
    margin: 0 5px 5px 0;
}
.product p {
    text-align: center;
}

#pagination {
    width: 100%;
    overflow: hidden;
}

#pagination a {
    color: #ffffff;
    background: #000000;
    padding: 5px;
    text-decoration: none;
}
#pagination a:hover {
    background: #20314e;
}

.p-name {
    color: #000000;
}
.p-description, .p-manufacturer {
    font-size: 12px;
    margin-top: 0;
}
.p-price {
    color: #ff0000;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .inner {
        width: 100%;
    }
}